#container-grid{
    background-color:rgb(225, 225, 225);
    
    
    display: flex;
    flex-wrap: wrap;
}

.grid-cell{
    background-color: rgb(55, 55, 55);
    height: 30px;
    width: 30px;
    border: 1px black solid;
    
    
}

:hover.grid-cell{
    opacity: 50%;
}

.drawn-cell{
    
    background-color: rgb(186, 248, 228);
}

button{
    margin: 5px;
    padding: 5px
}